.App{
    display: flex;
    flex-direction: column;
}
.bulb{
    
}
.red{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: .2;
    background-color: red;
}
.orange{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: .2;
    background-color: orange;
}
.green{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: .2;
    background-color: green;
}
.active{
    opacity: 1;
}